/* div {
    border: solid 0.05px #000;
    margin: -1px;
} */

h1 {
    text-align: center;
    background-color: #4FC3F7;
    color: #fff;
    height: 100px;
    line-height: 100px;
}

.todo-input {
    text-align: center;
    padding-top: 10px;
}

.todo-list {
    list-style: none;
    padding-left: 20px;
}

.todo-item {
    margin: 5px 0;
}

.input-text {
    margin-bottom: 10px;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #4FC3F7;
    padding: 0 10px;
}

.button {
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    background-color: #fff;
    border: solid 1px #4FC3F7;
    color: #4FC3F7;
}

.button:hover {
    /* border-radius: 5px; */
    /* height: 33px; */
    /* padding: 8px; */
    background-color: #4FC3F7;
    border: solid 1px #fff;
    color: #fff;
}

.button:active {
    background-color: #0995D1;
    /* color: #fff; */
}